# Files from build
**/*.o
**/*.s
src/.depend

# Built binary
src/stockfish.dll
src/stockfish.so
src/stockfish.dylib
src/libstockfish.so
src/libstockfish.dylib
src/libstockfish.dll
src/-lstdc++.res

# Neural network for the NNUE evaluation
**/*.nnue

**/*.gcda

